<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="STUDIO_WORKER_LOG_DIR" value="${studio.worker.log.dir:-applogs/data-aggregation-studio/worker}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.jdragon.studio.worker.runtime.log.SanitizingPatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${STUDIO_WORKER_LOG_DIR}/studio-worker.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${STUDIO_WORKER_LOG_DIR}/%d{yyyy-MM-dd}/studio-worker.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder class="com.jdragon.studio.worker.runtime.log.SanitizingPatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="com.jdragon.studio.commons.logging.StudioCapturedMdcDenyFilter"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
